<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
.btn-secondaryz{
  transform:scale(1.5);
}
</style>
  </head>

  <body style="background-color: 	#707070;">
  <center>
	  <div class="btn-secondaryz btn-group btn-group-toggle" data-toggle="buttons">
		  <label class="btn btn-secondary active">
		    <input type="radio" name="options" id="option1" autocomplete="off" checked>Read
		  </label>
		  <label class="btn btn-secondary">
		    <input type="radio" name="options" id="option2" autocomplete="off">Write
		  </label>
		</div>
		</center>
  <div class="col d-flex align-items-center justify-content-center" style="height:80vh;">
  		<div>

		  <input class="form-control form-control-lg" type="text" placeholder="Track 1">
		  <br>
		  <input class="form-control form-control-lg" type="text" placeholder="Track 2">
		  <br>
		  <input class="form-control form-control-lg" type="text" placeholder="Track 3">
            <img src="static/card.png" height=400px/>
            <br>
            	<h4 id="card-input" align="center" style="padding-top:10px;color:#fff5f5;">SWIPE CARD TO CONTINUE</h4>
        </div>
</div>

<script>
// typing simulator 2k19
function typeCreditCard() {
	var card = '123213213215314212134';
	var i = 0;
	var speed = 50;
	document.getElementById("card-input").innerHTML = "";
	function typeWriter() {
			// console.log("AYY", i, card.charAt(i));
			document.getElementById("card-input").innerHTML += card.charAt(i++);
			setTimeout(typeWriter, speed);
	}
	typeWriter();
}

</script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
